<!doctype html>
<head>
    <meta charset="utf-8"/>
    <title>対話データ収集用 音声認識プログラム</title>
    <style>
        li {
            list-style: none;
        }
    </style>
    <script type=text/javascript>
        $SCRIPT_ROOT =
        {{ request.script_root|tojson|safe }}
    </script>
</head>
<body>
<h2>対話データ収集用 音声認識 プログラム</h2>

1. ユーザ名を入力して「ログイン」ボタンを押して下さい．
<form>
    &emsp; <input type="text" value="" id="login_user_name"/>
    <input type="text" name="dummy" style="display:none;">
    <input type="button" value="ログイン" id="login_button"/>
</form>
<br>

2. 下記に接続OKと出てくればOKです．<br>
&emsp; <span id="message_connection">接続未確認</span>
<br><br>

3. 準備ができたら「音声入力開始」を押して下さい．<br>
&emsp; <button type="button" id="start">音声入力開始</button>
<br><br>

4. 下記に音声認識結果が出てくればOKです．
<div id="message_recognition"></div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/stt.js') }}"></script>
</html>
