{% extends "layout.html" %}
{% block body %}
	<table border=2 align="center" width="950" height="60">
		<tr><td>
				<p align="center">トピック</p>
		</td></tr>
		<tr><td>
				{% if message %}
						<form method="post" action="/send/change-topic/{{ message.topics[0] }}" style="display: inline">
								<input type="submit" value={{ message.topics[0] }} class="buttonB" size="70">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[1] }}" style="display: inline">
								<input type="submit" value={{ message.topics[1] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[2] }}" style="display: inline">
								<input type="submit" value={{ message.topics[2] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[3] }}" style="display: inline">
								<input type="submit" value={{ message.topics[3] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[4] }}" style="display: inline">
								<input type="submit" value={{ message.topics[4] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[5] }}" style="display: inline">
								<input type="submit" value={{ message.topics[5] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[6] }}" style="display: inline">
								<input type="submit" value={{ message.topics[6] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[7] }}" style="display: inline">
								<input type="submit" value={{ message.topics[7] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[8] }}" style="display: inline">
								<input type="submit" value={{ message.topics[8] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[9] }}" style="display: inline">
								<input type="submit" value={{ message.topics[9] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[10] }}" style="display: inline">
								<input type="submit" value={{ message.topics[10] }} class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/{{ message.topics[11] }}" style="display: inline">
								<input type="submit" value={{ message.topics[11] }} class="buttonB">
						</form>
				{% else %}
						<form method="post" action="/send/change-topic/topic1" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic2" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic3" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic4" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic5" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic6" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic7" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic8" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic9" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic10" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic11" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
						<form method="post" action="/send/change-topic/topic12" style="display: inline">
								<input type="submit" value="None" class="buttonB">
						</form>
				{% endif %}
		</td></tr>
    </table>
		<!--
    <table class="table2" border=2 align="center" width="1200" height="50">
    <tr><td>
        <p align="center">ジャンル</p>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/change-genre/SF" style="display: inline">
            <input type="submit" value="SF" class="buttonE">
        </form>
        <form method="post" action="/send/change-genre/action" style="display: inline">
            <input type="submit" value="アクション" class="buttonE">
        </form>
        <form method="post" action="/send/change-genre/horror" style="display: inline">
            <input type="submit" value="ホラー" class="buttonE">
        </form>
        <form method="post" action="/send/change-genre/romance" style="display: inline">
            <input type="submit" value="恋愛" class="buttonE">
        </form>
        <form method="post" action="/send/change-genre/human" style="display: inline">
            <input type="submit" value="ヒューマン" class="buttonE">
        </form>
        <form method="post" action="/send/change-genre/anime" style="display: inline">
            <input type="submit" value="アニメ" class="buttonE">
        </form>
				<form method="post" action="/send/change-genre/comedy" style="display: inline">
            <input type="submit" value="コメディー" class="buttonE">
        </form>
				<form method="post" action="/send/change-genre/advenchar" style="display: inline">
            <input type="submit" value="アドベンチャー" class="buttonE">
        </form>
				<form method="post" action="/send/change-genre/mistery" style="display: inline">
            <input type="submit" value="ミステリー" class="buttonE">
        </form>
    </tr></td>
    </table>
		-->
    <table class="table2" border=2 align="right" width="660" height="450">
    <tr><td>
        <center>参加者A</center>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/look/A" style="display: inline">
            <input type="submit" value="Look" class="buttonD">
        </form>
        <form method="post" action="/send/nod/A" style="display: inline">
            <input type="submit" value="Nod" class="buttonD">
        </form>
        <form method="post" action="/send/start/A" style="display: inline">
            <input type="submit" value="開始" class="buttonA">
        </form>
        <form method="post" action="/send/summarize/A" style="display: inline">
            <input type="submit" value="まとめ" class="buttonA">
        </form>
        <form method="post" action="/send/end/A" style="display: inline">
            <input type="submit" value="終了" class="buttonA">
        </form>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/recommendation-active/A" style="display: inline">
            <input type="submit" value="推薦" class="buttonC">
        </form>
        <form method="post" action="/send/detail-active/A" style="display: inline">
            <input type="submit" value="詳細" class="buttonC">
        </form>
        <form method="post" action="/send/question/A" style="display: inline">
            <input type="submit" value="質問" class="buttonC">
        </form>
      <form method="post" action="/send/followup/A" style="display: inline">
            <input type="submit" value="発話可" class="buttonC">
        </form>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/response-passive/A" style="display: inline">
            <input type="submit" value="応答" class="buttonF">
        </form>
        <form method="post" action="/send/yes-passive/A" style="display: inline">
            <input type="submit" value="Yes" class="buttonF">
        </form>
        <form method="post" action="/send/no-passive/A" style="display: inline">
            <input type="submit" value="No" class="buttonF">
        </form>
				<form method="post" action="/send/unknown-passive/A" style="display: inline">
						<input type="submit" value="Unknown" class="buttonF">
				</form>
    </td></tr>
<!--
    <tr><td>
        <center>誤り訂正発話</center>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/yes-correction/A" style="display: inline">
            <input type="submit" value="Yes" class="buttonF">
        </form>
        <form method="post" action="/send/no-correction/A" style="display: inline">
            <input type="submit" value="No" class="buttonF">
        </form>
        <form method="post" action="/send/title-correction/A" style="display: inline">
            <input type="submit" value="タイトル" class="buttonF">
        </form>
        <form method="post" action="/send/genre-correction/A" style="display: inline">
            <input type="submit" value="ジャンル" class="buttonF">
        </form>
        <form method="post" action="/send/abstract-correction/A" style="display: inline">
            <input type="submit" value="概要" class="buttonF">
        </form>
        <form method="post" action="/send/review-correction/A" style="display: inline">
            <input type="submit" value="レビュー" class="buttonF">
        </form>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/recommendation-correction/A" style="display: inline">
            <input type="submit" value="推薦" class="buttonF">
        </form>
        <form method="post" action="/send/evaluation-correction/A" style="display: inline">
            <input type="submit" value="評価" class="buttonF">
        </form>
        <form method="post" action="/send/actor-correction/A" style="display: inline">
            <input type="submit" value="出演者" class="buttonF">
        </form>
        <form method="post" action="/send/director-correction/A" style="display: inline">
            <input type="submit" value="監督" class="buttonF">
        </form>
        <form method="post" action="/send/unknown-correction/A" style="display: inline">
            <input type="submit" value="不明" class="buttonF">
        </form>
				<form method="post" action="/send/repeat-correction/A" style="display: inline">
            <input type="submit" value="繰り返し" class="buttonF">
        </form>
    </td></tr>
	-->
    </table>


    <table class="table2" border=2 align="left" width="660" height="450" >
    <tr><td>
        <center>参加者B</center>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/look/B" style="display: inline">
            <input type="submit" value="Look" class="buttonD">
        </form>
        <form method="post" action="/send/nod/B" style="display: inline">
            <input type="submit" value="Nod" class="buttonD">
        </form>
        <form method="post" action="/send/start/B" style="display: inline">
            <input type="submit" value="開始" class="buttonA">
        </form>
        <form method="post" action="/send/summarize/B" style="display: inline">
            <input type="submit" value="まとめ" class="buttonA">
        </form>
        <form method="post" action="/send/end/B" style="display: inline">
            <input type="submit" value="終了" class="buttonA">
        </form>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/recommendation-active/B" style="display: inline">
            <input type="submit" value="推薦" class="buttonC">
        </form>
        <form method="post" action="/send/detail-active/B" style="display: inline">
            <input type="submit" value="詳細" class="buttonC">
        </form>
        <form method="post" action="/send/question/B" style="display: inline">
            <input type="submit" value="質問" class="buttonC">
        </form>
      <form method="post" action="/send/followup/B" style="display: inline">
            <input type="submit" value="発話可" class="buttonC">
        </form>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/response-passive/B" style="display: inline">
            <input type="submit" value="応答" class="buttonF">
        </form>
        <form method="post" action="/send/yes-passive/B" style="display: inline">
            <input type="submit" value="Yes" class="buttonF">
        </form>
        <form method="post" action="/send/no-passive/B" style="display: inline">
            <input type="submit" value="No" class="buttonF">
        </form>
				<form method="post" action="/send/unknown-passive/B" style="display: inline">
						<input type="submit" value="不明" class="buttonF">
				</form>
    </td></tr>



		<!--
    <tr><td>
        <center>誤り訂正発話</center>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/yes-correction/B" style="display: inline">
            <input type="submit" value="Yes" class="buttonF">
        </form>
        <form method="post" action="/send/no-correction/B" style="display: inline">
            <input type="submit" value="No" class="buttonF">
        </form>
        <form method="post" action="/send/title-correction/B" style="display: inline">
            <input type="submit" value="タイトル" class="buttonF">
        </form>
        <form method="post" action="/send/genre-correction/B" style="display: inline">
            <input type="submit" value="ジャンル" class="buttonF">
        </form>
        <form method="post" action="/send/abstract-correction/B" style="display: inline">
            <input type="submit" value="概要" class="buttonF">
        </form>
        <form method="post" action="/send/review-correction/B" style="display: inline">
            <input type="submit" value="レビュー" class="buttonF">
        </form>
    </td></tr>
    <tr><td>
        <form method="post" action="/send/recommendation-correction/B" style="display: inline">
            <input type="submit" value="推薦" class="buttonF">
        </form>
        <form method="post" action="/send/evaluation-correction/B" style="display: inline">
            <input type="submit" value="評価" class="buttonF">
        </form>
        <form method="post" action="/send/actor-correction/B" style="display: inline">
            <input type="submit" value="出演者" class="buttonF">
        </form>
        <form method="post" action="/send/director-correction/B" style="display: inline">
            <input type="submit" value="監督" class="buttonF">
        </form>
        <form method="post" action="/send/unknown-correction/B" style="display: inline">
            <input type="submit" value="不明" class="buttonF">
        </form>
				<form method="post" action="/send/repeat-correction/B" style="display: inline">
            <input type="submit" value="繰り返し" class="buttonF">
        </form>
    </td></tr>
	-->
    </table>

    <br>
    <p class="content_bottom">
        <center>
        <form method="post" action="/terminate">
            <input type="text" style="width:500px;height:50px;font-size:35px;" name="message" placeholder="(拡張子なし)ファイル名" cols="30" rows="10">
            <input type="submit" value="保存" class="buttonF">
        </form>
        </center>
    </p>
		<div class="add-control">
		  <input type="radio" class="radio" id="open" name="btn" />
			<label class="btn btn-open" for="open">

						<input type="submit" value="ジャンルを開く" class="buttonG">

			</label>
		  <input type="radio" class="radio" id="close" name="btn" checked="checked" />
		  <label class="btn btn-close" for="close">
				<input type="submit" value="ジャンルを閉じる" class="buttonG">
			</label>
		  <div class="box">
				<tr><td>
		        <form method="post" action="/send/change-genre/SF" style="display: inline">
		            <input type="submit" value="SF" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/action" style="display: inline">
		            <input type="submit" value="アクション" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/horror" style="display: inline">
		            <input type="submit" value="ホラー" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/romance" style="display: inline">
		            <input type="submit" value="恋愛" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/human" style="display: inline">
		            <input type="submit" value="ヒューマン" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/anime" style="display: inline">
		            <input type="submit" value="アニメ" class="buttonE">
		        </form>
						<form method="post" action="/send/change-genre/comedy" style="display: inline">
		            <input type="submit" value="コメディー" class="buttonE">
		        </form>
						<form method="post" action="/send/change-genre/advenchar" style="display: inline">
		            <input type="submit" value="アドベンチャー" class="buttonE">
		        </form>
						<form method="post" action="/send/change-genre/mistery" style="display: inline">
		            <input type="submit" value="ミステリー" class="buttonE">
		        </form>
		    </tr></td>
			</div>
		


		  <input type="radio" class="radio" id="open2" name="btn" />
			<label class="btn btn-open" for="open2">

						<input type="submit" value="ジャンルを開く" class="buttonG">

			</label>
		  <input type="radio" class="radio" id="close2" name="btn" checked="checked" />
		  <label class="btn btn-close" for="close2">
				<input type="submit" value="ジャンルを閉じる" class="buttonG">
			</label>
		  <div class="box">
				<tr><td>
		        <form method="post" action="/send/change-genre/SF" style="display: inline">
		            <input type="submit" value="SF" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/action" style="display: inline">
		            <input type="submit" value="アクション" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/horror" style="display: inline">
		            <input type="submit" value="ホラー" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/romance" style="display: inline">
		            <input type="submit" value="恋愛" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/human" style="display: inline">
		            <input type="submit" value="ヒューマン" class="buttonE">
		        </form>
		        <form method="post" action="/send/change-genre/anime" style="display: inline">
		            <input type="submit" value="アニメ" class="buttonE">
		        </form>
						<form method="post" action="/send/change-genre/comedy" style="display: inline">
		            <input type="submit" value="コメディー" class="buttonE">
		        </form>
						<form method="post" action="/send/change-genre/advenchar" style="display: inline">
		            <input type="submit" value="アドベンチャー" class="buttonE">
		        </form>
						<form method="post" action="/send/change-genre/mistery" style="display: inline">
		            <input type="submit" value="ミステリー" class="buttonE">
		        </form>
		    </tr></td>
			</div>
		</div>




{% endblock %}
