
.contentA {
    position: absolute;
    top: 70px;
    left: 50px;
}

.contentB {
    position: absolute;
    top: 70px;
    left: 650px;
}

.content_bottom {
    position: absolute;
    top: 1000px;
    left: 650px;
}

.buttonA {
    /* width:110px;
    height:90px; */
    width:100px;
    height:70px;
    /*width:260px
    height:100px*/
    font-size: 2.0em;
    font-weight: bold;
	background-color: #008000;
	color: #fff;
  border-bottom: solid 8px #169112;
  border-right: solid 6px #169112;/*ボタン色より暗めに*/
  border-radius: 1.5px;
}
.buttonA:hover {
	background-color: #00ff00;
}

.buttonB {
  width:220px;
  height:70px;
  font-size: 1.8em;
  font-weight: bold;
	background-color: #4169e1;
	color: #fff;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  vertical-align: middle;
}
.buttonB:hover {
	background-color: #00008b;
}

.buttonC {
    /* width:120px;
    height:90px; */
    width:100px;
    height:70px;
    font-size: 2.0em;
    font-weight: bold;
	background-color: #8a2be2;
	background-color: #000080;
	color: #fff;
  border-bottom: solid 6px #282229;
  border-right: solid 6px #282229;/*ボタン色より暗めに*/
  border-radius: 1.5px;
}
.buttonC:hover {
	background-color: #0000ff;
}

.buttonD {
  /* width:120px;
  height:90px; */
  width:100px;
  height:70px;
  font-size: 2.0em;
  font-weight: bold;
background-color: #d2691e;
color: #fff;
border-bottom: solid 6px #8C4545;
border-right: solid 6px #8C4545;/*ボタン色より暗めに*/
border-radius: 1.5px;
}

.buttonM {
  width:100px;
  height:50px;
  font-size: 2.0em;
  font-weight: bold;
  background-color: #aaaaaa;
  color: #fff;
  border-bottom: solid 6px #bbbbbb;
  border-right: solid 6px #999999;/*ボタン色より暗めに*/
  border-radius: 1.5px;
}

.buttonD:hover {
	background-color: #daa520;
}

.buttonE {
    /* width:120px;
    height:90px; */
    width:100px;
    height:70px;
    font-size: 2.0em;
    font-weight: bold;
	background-color: #B13029;
	color: #fff;
  border-bottom: solid 6px #800000;
  border-right: solid 6px #800000;/*ボタン色より暗めに*/
  border-radius: 1.5px;
}
.buttonE:hover {
	background-color: #ff0000;
}

.buttonE2 {
    /* width:120px;
    height:90px; */
    width:120px;
    height:70px;
    font-size: 2.0em;
    font-weight: bold;
	background-color: #B13029;
	color: #fff;
  border-bottom: solid 6px #800000;
  border-right: solid 6px #800000;/*ボタン色より暗めに*/
  border-radius: 1.5px;
}
.buttonE:hover {
	background-color: #ff0000;
}

.buttonF {
    /* width:120px;
    height:90px; */
    width:100px;
    height:70px;
    font-size: 2.0em;
    font-weight: bold;
	background-color: #8a2be2;
	color: #fff;
  border-bottom: solid 6px #483D8B;
  border-right: solid 6px #483D8B;/*ボタン色より暗めに*/
  border-radius: 1.5px;
}
.buttonF:hover {
	background-color: #483d8b;
}

/* .buttonF {
    width:127px;
    height:50px;
    font-size: 1.4em;
    font-weight: bold;
	background-color: #8a2be2;
	color: #fff;
}
.buttonF:hover {
	background-color: #483d8b;
} */
/*style="style="width:500px;height:50px;font-size:35px;""*/
.buttonG {
    width:300px;
    height:50px;
    font-size: 1.4em;
    font-weight: bold;
	background-color: #8a2be2;
	color: black;
}
.buttonG:hover {
	background-color: #483d8b;
}

.buttonH {
    width:127px;
    height:50px;
    font-size: 1.4em;
    font-weight: bold;
	background-color: #8a2be2;
	color: #fff;
}
.buttonH:hover {
	background-color: #483d8b;
}

.buttonI {
    width:127px;
    height:50px;
    font-size: 1.4em;
    font-weight: bold;
	background-color: #8a2be2;
	color: #fff;
}
.buttonI:hover {
	background-color: #483d8b;
}
.table1 th {
    background-color: #ffd700;
}
.table1 tr {
    position: absolute;
    top: 300px;
    left: 50px;
}

h1{
    position: relative;
    padding: 0.1em 0.5em;
    background: -moz-linear-gradient(to right, rgb(255, 186, 115), transparent);
    background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
    background: linear-gradient(to right, rgb(255, 186, 115), transparent);
    color: #545454;
    /* display: inline-block; */
}

.topic input{
	display: none;
}
.topic label{
	display: block;
	float: left;
	cursor: pointer;
	width: 420px;
    height: 20px;
	margin: 0;
	padding: 12px 10px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.topic label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.topic label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.topic input[type="radio"]:checked + label {
	background-color: #1db97a;
	color: #fff;
}
.gaze input{
	display: none;
}
.gaze label{
	display: block;
	float: left;
	cursor: pointer;
	width: 120px;
	margin: 0;
	padding: 30px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.gaze label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.gaze label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.gaze input[type="radio"]:checked + label {
	background-color: #00bfff;
	color: #fff;
}

.genre input{
	display: none;
}
.genre label{
	display: block;
	float: left;
	cursor: pointer;
	width: 120px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.genre label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.genre label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.genre input[type="radio"]:checked + label {
	background-color: #ff8c00;
	color: #fff;
}
div.radio-group div {
    position: relative;
}
div.radio-group input {
    position: absolute;
    left: 0px;
    outline:none;
}

.btn {
    color: #fff;
    background: rgba(127, 194, 239, .5);
    padding: .3em .5em;
    margin-bottom: .3em;
    border-radius: .3em;
    text-align: center;
    display: table;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    background: rgb(127, 194, 239);
}
.box {
    border: 2px solid #d685b0;
    border-radius: .3em;
    height: 200px;
}

.error{
  font-weight: bold;
}
#genre{
  display: none;
}
p{
  font-size: 200%;
}
.box3, .box4 {
  float: left;
  border-color: yellow;
  width: 50%;  /** 横幅50% **/
  padding: 0px;
  }
.box5{
  padding: 2.50em .55em;
}
.box7{
  display: none;
}
.box8{
  display: none;
}
div {
   /*border: solid 1px red;*/
  box-sizing: border-box;

  text-align: center;
  /* line-height: 200px; */
  font-weight: bold;
  font-size: 10px;
}
